body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #151515;
    font-size: 15px;
    color: white;
    line-height: 1.6;
}
*, 
*:after, 
*:before{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {margin: 0;}
.container{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header{
    height: 80px;
    padding-top: 20px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position:  absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100%;
    background: #191919;
}
.header_logo
{
}
.nav{
    font-size: 14px;
    font-family: 'Montserrat', 'light';

}
.nav_link {
    color: #7d7d7d;
    text-decoration: none;
     margin: 0 15px;

    
    
    transition: color .2s linear;
}
.nav_link:hover:active{
    color: #9436f1;
}
.nav_link:hover{
    color: #9436f1;
}
.post{
margin-top: 130px;
position: relative;
width: 100%;  
}
.button-special {
color: white;
font-size: 14pt;
border: 0;
background: #9633fb;
border-radius: 10px;
height: 35px;
width: 160px;
}
.button-special2 {
color: #9633fb;
font-size: 14pt;
border: 0;
background: white;
border-radius: 10px;
height: 35px;
width: 160px;
}
.ignes{
    font-style: bold;
    color: black;
    font-size: 10pt;
    margin: 0 auto;
    max-width: 700px;
    height: 390px;
   margin-top: 150px;
       background: url(grey_section.png) left bottom no-repeat, url(white_section.png) center bottom no-repeat, url(purple_section.png) right bottom no-repeat; 
}
.block1{
padding-left: 10px;
display:inline-block;
max-width: 200px;
max-height: 360px;
text-align: left;
}
.block2{
padding-left: 10px;
margin-left: 40px;
display:inline-block;
max-width: 200px;
max-height: 360px;
text-align: left;
}
.block3{
color:white;
padding-top: 50px;
padding-left: 10px;
margin-left: 40px;
display:inline-block;
max-width: 200px;
max-height: 360px;
text-align: left;
}
.bl1{
margin-bottom: -5px;
}